<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.kesdip.designer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Designer Perspective"
            class="com.kesdip.designer.Perspective"
            id="com.kesdip.designer.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.kesdip.designer.application"
            name="Omni-Spot Designer">
         <property
               name="windowImages"
               value="icons/display.png,icons/display_large.png">
         </property>
         <property
               name="appName"
               value="Omni-Spot Designer">
         </property>
         <property
               name="aboutImage"
               value="splash.png">
         </property>
         <property
               name="aboutText"
               value="Omni-Spot Designer (v.1.1.7), Copyright 2009-2010">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.kesdip.designer.editor.LayoutEditor"
            default="false"
            id="com.kesdip.designer.LayoutEditor"
            name="Layout Editor">
      </editor>
      <editor
            class="com.kesdip.designer.editor.DeploymentEditor"
            contributorClass="com.kesdip.designer.editor.DeploymentActionBarContributor"
            default="false"
            extensions=".dep.xml"
            id="com.kesdip.designer.DeploymentEditor"
            name="Deployment Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.kesdip.designer.PreviewCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+F1">
      </key>
      <key
            commandId="com.kesdip.designer.PreviewLayoutCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
      <key
            commandId="com.kesdip.designer.PublishCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the Designer Editor"
            id="com.kesdip.designer.designerCategory"
            name="Designer">
      </category>
      <command
            categoryId="com.kesdip.designer.designerCategory"
            defaultHandler="com.kesdip.designer.handler.NewFileHandler"
            id="com.kesdip.designer.NewCommand"
            name="New">
      </command>
      <command
            categoryId="com.kesdip.designer.designerCategory"
            defaultHandler="com.kesdip.designer.handler.OpenFileHandler"
            id="com.kesdip.designer.OpenCommand"
            name="Open">
      </command>
      <command
            categoryId="com.kesdip.designer.designerCategory"
            defaultHandler="com.kesdip.designer.handler.PreviewHandler"
            description="Preview current deployment"
            id="com.kesdip.designer.PreviewCommand"
            name="Preview">
      </command>
      <command
            categoryId="com.kesdip.designer.designerCategory"
            defaultHandler="com.kesdip.designer.handler.PreviewLayoutHandler"
            description="Preview current layout"
            id="com.kesdip.designer.PreviewLayoutCommand"
            name="Preview Layout">
      </command>
      <command
            categoryId="com.kesdip.designer.designerCategory"
            defaultHandler="com.kesdip.designer.handler.ShowViewHandler"
            id="com.kesdip.designer.ShowViewCommand"
            name="Show View">
      </command>
      <command
            categoryId="com.kesdip.designer.designerCategory"
            defaultHandler="com.kesdip.designer.handler.PublishHandler"
            description="Publish current deplyment"
            id="com.kesdip.designer.PublishCommand"
            name="Publish">
      </command>
      <command
            defaultHandler="com.kesdip.designer.handler.UpdateSoftwareHandler"
            description="Update Software"
            id="com.kesdip.designer.UpdateSoftwareCommand"
            name="Update">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.kesdip.designer.FileMenu"
               label="File">
            <command
                  commandId="com.kesdip.designer.NewCommand"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="com.kesdip.designer.OpenCommand"
                  label="Open"
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.FileSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save As"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.FileSeparator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.kesdip.designer.EditMenu"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.EditSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.EditSeparator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.kesdip.designer.ToolsMenu"
               label="Tools">
            <command
                  commandId="com.kesdip.designer.PreviewCommand"
                  icon="icons/palette.png"
                  label="Preview Deployment"
                  style="push">
            </command>
            <command
                  commandId="com.kesdip.designer.PreviewLayoutCommand"
                  icon="icons/display.png"
                  label="Preview Layout"
                  style="push">
            </command>
            <command
                  commandId="com.kesdip.designer.PublishCommand"
                  icon="icons/palette.png"
                  label="Export for Publishing"
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.ToolsSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.kesdip.designer.ShowViewCommand"
                  label="Show View"
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.ToolsSeparator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.kesdip.designer.HelpMenu"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  label="Contents"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.cheatsheets.openCheatSheet"
                  label="Open Cheat Sheet..."
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.HelpSeparator1"
                  visible="true">
            </separator>
            <groupMarker name="additions" />
            <command
                  commandId="com.kesdip.designer.UpdateSoftwareCommand"
                  label="Update Software..."
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.HelpSeparator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About Designer"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.kesdip.designer"
            name="Designer">
      </category>
      <wizard
            category="com.kesdip.designer"
            class="com.kesdip.designer.wizards.DesignerNewWizard"
            icon="icons/new_wiz.png"
            id="com.kesdip.designer.wizards.DesignerNewWizard"
            name="Designer Editor file">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.kesdip.designer.preferences.DesignerPreferencePage"
            id="com.kesdip.designer.preferences.DesignerPreferencePage"
            name="Designer Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kesdip.designer.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
